.background{
    width: 80%;
    height: 200px;
    background-color: #4040f2;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 14px;
    padding: 25px 70px 25px;
    justify-content: space-between;
}

.register_text{
    color: white;
    font-size: xx-large;
    font-weight: 900;
    font-size: 40px;
}

.create_account_btn {
    background-color: white;
    color: #4040f2;
    margin-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 14px;
}

