.box {
  background-color: white;
  width: 100%;
  height: 230px;
  margin-top: 10px;
  border-radius: 20px;
  padding-top: 10px;
  color: #747d8c;
  
}

@media (min-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  aside {
    align-self: start;
  }
}

h4 {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  color: black;
}

.company-name{
margin-left: 95px;
margin-top: 1px;
}

.inf-box-top {
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.75),
    7px 7px 15px rgba(70, 70, 70, 0.12);
  float: right;
  padding: 5px;
  border-radius: 250px;
  margin-right: 10px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.companyimage {
  width: 100px;
  float: left;
}

.fas {
  margin-right: 5px;
}

.far {
  margin-right: 5px;
}

.fa-heart {
  color: red;
}

.fa-money-bill-wave {
  color: green;
}

.favorite {
  color: red;
}

.money {
  color: green;
}

.inf-box-bottom {
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.75),
    7px 7px 15px rgba(70, 70, 70, 0.12);
  float: right;
  padding: 5px;
  border-radius: 250px;
  margin-right: 10px;
}

.inf-box-bottom-left{
    box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.75),
    7px 7px 15px rgba(70, 70, 70, 0.12);
  float: left;
  padding: 5px;
  border-radius: 250px;
  margin-left: 10px;
}

.details {
    color: #0984e3;
}

.date {
    color: #8e44ad;
    
}
