.candidatesbox{
    background-color: white;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
    padding-top: 10px;
    color: #747d8c;
    
}

hr {
    border: 3px solid;
    background-color: black;
}

.github{
    color: #4263EB;
}

.linkedin{
    color: blue;
}

.fa-github{
    margin-right: 5px;
}

.fa-linkedin{
    margin-right: 5px;
}

