.filter-box {
    background-color: white;
    width: 100%;
    float: left;
    margin-top: 50px;
    border-radius: 20px;
    padding: 15px;
}

.filterh1{
    display: flex;
    justify-content: center;
}

.checkboxxx{
    margin-left: 3px;
    margin-right: 3px;
    width: 10px;
}

.labelcheck{
   margin-left: 10px;
}

.labelcheck{
    margin: 0;
 }

 input[type="checkbox"] {
     width: 14px;
     height: 14px;
}
